<h1>Bookmark Manager App</h1>

<h2>Add a new bookmark</h2>
<form action="/save" method=POST>
<fieldset>
<label for="bookmark_name">Bookmark name:</label>
<input type="text" name="bookmark_name" id="bookmark_name">
<label for="bookmark_url">Bookmark URL:</label>
<input type="text" name="bookmark_url" id="bookmark_url">
<input type="submit" name="save" value="Save">
</fieldset>
</form>

<form action="/bookmarks">
<input type="submit" name="view-all" value="View All Bookmarks" id="">
</form>
